/* need to center image */

.services-header-img {
    display: flex;
    justify-content: center;
}

/* beginning of page */

.paragraph {
    /* display: flex;
    flex-direction: column; */
    margin-bottom: 2%;
}

/* beginning of boxes */

.whole {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-between;
}

.child {
    width: 48%;
    background-color: #e0e0eb;
    margin-bottom: 5%;
    padding: 10px;
}

/* buttons */

button {
    text-align: center;
    font-size: 16px;
    background-color: white;
}

hr {
    padding: 10px;
}

.footer {
    display: flex;
}

/* .footer-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
} */

img {
    margin: 0 auto;
    padding: 10px;
}

.copyright {
    /* width: 100%; */
    text-align: center;
    padding: 5%;
}

