/* for both pages */

* {
    box-sizing: border-box;
    max-width: 100%;
}

p {
    font-size: 15px;
}

/* navigation bar */

.nav {
    /* vertical-align: center;
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: space-evenly; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    padding: 10px;
    color: grey;
}

.nav a:hover {
    color: black;
}